
body {
    background: linear-gradient(180deg, rgba(251,199,212,1) 0%, rgba(151,150,240,1) 100%);
}

.widthFormat { @apply text-slate-600 bg-transparent border-t-2 border-slate-700 text-sm tracking-widest }

.menuStyle {@apply border-b-blue-600}

.sideNavItem {
    /*border: thick solid green;*/
    color: #66666f;
    padding: 8px;
    border-color: 0;
    border:0;
    font-weight: bold;
}

.sideNavItem:first-child {

    border-radius: 8px 8px 0 0;
    padding-top: 14px;

}

.sideNavItem:last-child {
    border-radius: 0 0 8px 8px;
    padding-bottom: 14px;
}